# Kaggle chalange

To predict total sales for every product and store in the next month

You are provided with daily historical sales data. The task is to forecast the total amount of products sold in every 
shop for the test set. Note that the list of shops and products slightly changes every month. Creating a robust model 
that can handle such situations is part of the challenge.

## Using naive bayes algorithm

#### import our necessary libraries

In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns

In [2]:
data=pd.read_csv(r"C:\Users\Prasad\Documents\sales_train.csv")
data.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 6 columns):
date              object
date_block_num    int64
shop_id           int64
item_id           int64
item_price        float64
item_cnt_day      float64
dtypes: float64(2), int64(3), object(1)
memory usage: 134.4+ MB

In [4]:
data.describe()

       date_block_num       shop_id       item_id    item_price  item_cnt_day
count    2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06
mean     1.456991e+01  3.300173e+01  1.019723e+04  8.908532e+02  1.242641e+00
std      9.422988e+00  1.622697e+01  6.324297e+03  1.729800e+03  2.618834e+00
min      0.000000e+00  0.000000e+00  0.000000e+00 -1.000000e+00 -2.200000e+01
25%      7.000000e+00  2.200000e+01  4.476000e+03  2.490000e+02  1.000000e+00
50%      1.400000e+01  3.100000e+01  9.343000e+03  3.990000e+02  1.000000e+00
75%      2.300000e+01  4.700000e+01  1.568400e+04  9.990000e+02  1.000000e+00
max      3.300000e+01  5.900000e+01  2.216900e+04  3.079800e+05  2.169000e+03

#### variable X and y.

In [5]:
x=data.iloc[:,1:4]
y=data.iloc[:,5]
print(x)
print(y)

         date_block_num  shop_id  item_id
0                     0       59    22154
1                     0       25     2552
2                     0       25     2552
3                     0       25     2554
4                     0       25     2555
...                 ...      ...      ...
2935844              33       25     7409
2935845              33       25     7460
2935846              33       25     7459
2935847              33       25     7440
2935848              33       25     7460

[2935849 rows x 3 columns]
0          1.0
1          1.0
2         -1.0
3          1.0
4          1.0
          ...
2935844    1.0
2935845    1.0
2935846    1.0
2935847    1.0
2935848    1.0
Name: item_cnt_day, Length: 2935849, dtype: float64

In [7]:
print (x.shape)
print (y.shape)

(2935849, 3)
(2935849,)

#### data set into train and test as

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=9)

#### Gaussian Naive Bayes Algorithm.

In [9]:
from sklearn.naive_bayes import GaussianNB
nv = GaussianNB() # create a classifier
nv.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [10]:
from sklearn.metrics import accuracy_score
y_pred = nv.predict(X_test) # store the prediction data
accuracy_score(y_test,y_pred)

0.8956860875044707