## *QUESTIONS:
## *Datatypes,Operators ,input and output in python:

### 1. What is variable? And rules to declare a variable in python?

Ans-Variables in python are nothing but the memory location where we can store data values.
    for example:
    a=20
    here a is varibale and 20 is the data value.
    We have assigned the value 20 to the variable

    *rules to declare a variable in python:
    1.A variable name must start with a letter or the underscore character.
    2.A variable name cannot start with a number and special character(@,#) are not allowed.
    3.A variable name can only contain alpha-numeric characters and underscores(A-z, 0-9, and _).
    4.Variable names are case-sensitive(for eg: name,NAME,Name are three different variables).

### 2. What are the primitive built-in types in python?
Ans- Python has four primitive types: 
     integers, floats, booleans and strings.

### 3. What is the mutatble and immutable object in Python,Which datatypes are immutable in Python?

Ans-A mutable object can be changed after it is created, and an immutable object can not be change after it is created.
    Number,String and Tuple are immutable datatypes in Python.

### 4. How to get the length of the string?

Ans-we get the length of the name by using len() function.
    for example: name = "python"

In [ ]:
name="python"
print(len(name))

### 5. Which are the Relational Operators and their used in python?

Ans- (> Greater than,>= Greater than or equal to, <= Less than or equal to, == Equals ,!= Not equal to)
     are the Relational Operators in python.
     Relational Operators are used to compare the two quantities so that we can understand whether two values are same or which      one is bigger or which one is lesser.

### 6. what is the result of float(5), 10>="9", 10**2, len("basic python")?

Ans-The result of loat(5) is 5.0                    # to get accurate value 
The result of 10>="9" is false                      # '>=' not supported string and int 
The result of 10**2 is 100                          #** is used for power
The result of len("basic python") is 12             # it include space in count.

### 7. what is meant by input and output? Which fuction is used to display output in python?

Ans- The data given to the computer is called input.
     The result returned by the computer are called output.
     Python provides the print() fuction to display output.

### 8. Convert any integer number into float, string, and convert float into string, integer Convert string into float, integer?

In [3]:
#convert integer number into float,string
a=45
b=float(a)
c=str(a)
print(b,type(b))
print(c,type(c))

45.0 <class 'float'>
45 <class 'str'>

In [1]:
#convert float into string, integer
a=50.5
b=int(a)
print(b,type(b))
c=50.5
d=str(c)
print(d,type(d))

50 <class 'int'>
50.5 <class 'str'>

In [2]:
#Convert string into float, integer
a='55'
b=int(a)
print(b,type(b))
d=float(a)
print(d,type(d))

55 <class 'int'>
55.0 <class 'float'>

### 9. Take integer number using input function from user?

In [4]:
num1=int(input("enter a value"))
print("integer number is",num1)

enter a value45
integer number is 45

### 10. Take two number using input function and find their sum?

In [5]:
num1=float(input("enter a value"))
num2=float(input("enter a value"))
sum=num1+num2
print("sum of two number is",sum)

enter a value12.5
enter a value13.5
sum of two number is 26.0

### 11. Write a python program to accept two number using input function and use all the arithmetic operators?

In [6]:
a=int(input("enter a value"))
b=int(input("enter a value"))
sum=a+b
sub=a-b
mult=a*b
divi=a/b
c=a%b             #it gives remainder
d=a//b
print("""{},{},{},{},{},{}""".format(sum,sub,mult,divi,c,d))

enter a value13
enter a value5
18,8,65,2.6,3,2

### 12. Check whether two numbers are equal or not using identity operator?

In [7]:
#is and is not are identity operator
a=10
b=20
print("a,b:",a,b)
a is not b

a,b: 10 20

True

In [8]:
a = int(input('enter first number'))
b = int(input('enter second number'))
if ( a is b ):
   print(" a and b are same")
else:
   print(" a and b are not same")

enter first number12
enter second number12
 a and b are same

### 13. Write a python program to check whether two string are equal or not using comparison operator?

In [9]:
str1="python"             #Python is case sensitive language hence "P"(capital) and "p"(small) letters are different..
str2="Python"
str1==str2

False

In [10]:
str1 = input('enter first string:')
str2 = input('enter second string:')
if str1==str2:
    print(" str1 and str2 are same")
else:
    print("str1 and str2 are not same ")

enter first string:str
enter second string:str
 str1 and str2 are same

### 14. Assign same value to three variable name a, b and c using one line command?

In [11]:
a=b=c=11
print(a,b,c)

11 11 11

In [12]:
a=b=c=11
print("a,b,c:",a,b,c)
print("{},{},{}".format(a,b,c))          #we can print three varible in one line command in different way.

a,b,c: 11 11 11
11,11,11

### 15. How to print address of variables in python?

In [13]:
a=10             
str="python"
print(id(a))         #by using id() function we get ad.dress of variables in python
print(id(str))

1401481968
2479645476600

### 16. Introduction of python? For eg, invention, version and installation?

Ans-Python is a free, open-source,interpreted, high-level, general-purpose programming language.
    python is developed by Guido van Rossum. Guido van Rossum started implementing Python in 1989.