## Name :Savita Baliram Patil
ID:AIS023

Python Exercise No: 3
Subject: List and Tuple in python

#### 1. What is tuple?
A tuple is a collection which is ordered and unchangeable.

#### 2. What is difference between list and tuple? 
The difference between the two is thant we cant change element of tuple once it is assigned whereas in the list, 
eliments can be changed

#### 3. What is the result of range (1, 12, 2)?

for i in range(1,12,2):
print(i)

#### 4. Assuming a= [10, 20, 30, 40, 50] 
    1. Find length of a list? 
    2. Find maximum and minimum number of a list

In [2]:
a=[10,20,30,40,50]
print(len(a))
print(max(a))
print(min(a))

5
50
10

#### 5. If x=(1,2,3,4,5,1,3,1) then what is the result of x*2 and x.count(1)?

In [3]:
x=(1,2,3,4,5,1,3,1)
print(x*2)
print(x.count(1))

(1, 2, 3, 4, 5, 1, 3, 1, 1, 2, 3, 4, 5, 1, 3, 1)
3

#### 6. Create a list of colors name and then print first and last color name of the list using slicing?

In [4]:
colors=["Blue","Red","Green","Orange","Pink"]
print(colors[0])
print(colors[4])

Blue
Pink

#### 7. If list = [1,4,7,'a','c',"rat","mat",4,6,4] then  add element 12 using append method and remove rat element using remove
method  in the given list?

In [5]:
list=[1,4,7,'a','c',"rat","mat",4,6,4]
lst2=[12]
list.append(lst2)
print(list)
list.remove("rat")
print(list)

[1, 4, 7, 'a', 'c', 'rat', 'mat', 4, 6, 4, [12]]
[1, 4, 7, 'a', 'c', 'mat', 4, 6, 4, [12]]

#### 8. Create two list and concatenate them and then repeat 1st list 3 times?

In [8]:
lst1=[1,2,3]
lst2=[4,5,6]
lst1.append(lst2)
print(lst1)
lst1.extend(lst2)
print(lst1)

[1, 2, 3, [4, 5, 6]]
[1, 2, 3, [4, 5, 6], 4, 5, 6]

#### 9. Create a tuple of fruits name and then access first 4 elements from the tuple?

In [10]:
fruits=("banana","apple","orange","berry","pinapple","carambola")
print(fruits[0:4])

('banana', 'apple', 'orange', 'berry')

#### 10 .Create a list using range function and then convert this list into tuple using tuple function?

In [13]:
lst=[]
for i in range(10):
 lst.append(i)
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### 11. Create a tuple using eval function and then obtained the length of tuple?

In [29]:
x=(2,3,4,5)
print(eval("x*2"))
print(len(x))

(2, 3, 4, 5, 2, 3, 4, 5)
4

#### 12. Create a tuple of integer number and then sort the elements of tuple?

In [14]:
a=(2,5,7,5,3,4)
a1=sorted(a)
print(a1)

[2, 3, 4, 5, 5, 7]

#### 13. Create a list of colors name and then insert purple color on 3rd position using insert method?

In [16]:
lst=["red","green","yellow","black","gray"]
lst.insert(2,"purple")
print(lst)

['red', 'green', 'purple', 'yellow', 'black', 'gray']

#### 14. If x= (50, 60, 70, 80, 90, (200,100)) then access 200,100 from the tuple?

In [18]:
x=(50,60,70,80,90,(200,100))
print(x[5])

(200, 100)

#### 15. Create a nested tuple and nested list?

In [31]:
a=[[1,2,3],[4,6,7],[5,6]]
print(a)
b=([1,2,3],[4,5,6])
print(b)

[[1, 2, 3], [4, 6, 7], [5, 6]]
([1, 2, 3], [4, 5, 6])