## Name: Savita Baliram Patil
    ID: AIS023

#### Python Exercise No: 5
    Subject: Basic programs

#### 1. Create a tuple to display the values of a tuple using for loop?

In [33]:
a = [(1,1,1)]
for i in range (2,10):
    a.append((i,i,i))
a = tuple(a)  
print(a)

((1, 1, 1), (2, 2, 2), (3, 3, 3), (4, 4, 4), (5, 5, 5), (6, 6, 6), (7, 7, 7), (8, 8, 8), (9, 9, 9))

#### 2. Write a python program to display even numbers between 100 and 120 using while loop?

In [4]:
for i in range(100,121):
    if (i%2)==0:
        print(i)

100
102
104
106
108
110
112
114
116
118
120

#### 3. Write a python program to display numbers from 10 to 1 in decreasing order using for loop?

In [9]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

#### 4. Write a python program to display numbers from 11 to 15 using continue statement?

In [15]:
for i in range(1,16,1):
    if (i>=11):
        print(i)

11
12
13
14
15

#### 5. Write a function add () to find sum of two numbers?

In [37]:
a=2
b=3
c=a+b
print(c)

5

#### 6. Write a function multi () to find multiplication of two numbers using return statement?

In [36]:
a=2
b=3
c=a*b
print(c)

6

#### 7. Write a python program to print numbers in list which are greater than 50? 
Where, list=[12,55,9,30,47,56,23,60,75]

In [22]:
list=[12,55,9,30,47,56,23,60,75]
for i in list:
    if(i>50):
        print(i)

55
56
60
75

#### 8. Write a function max () that returns a maximum of two number?

In [23]:
a=max(10,34)
print(a)

34

#### 9. Write a function divisible () that takes number 
 1. If number is divisible by 3, it should return "yes" 
    2. If number is divisible by 5, it should return "no" 
    3. If number is divisible by both 3 and 5, it should return "yesno" 
    4. Otherwise it should return "notdivisible"

In [30]:
#1
num=14
if (num%3==0):
    print("yes")
else:
    print("notdivisible")

notdivisible

In [27]:
#2
num=15
if (num%5==0):
    print("no")
else:
    print("notdivisible")

no

In [28]:
#3
num=15
if(num%3 and num%5)==0 :
    print("yesno")
else:
    print("notdivisible")

yesno

#### 10. Write a function called stars (rows). If rows is 4, it should print the following? 
     * 
     ** 
     *** 
     ****

In [39]:
for i in range(0,4):
    for j in range(0, i+1):
        print("* ",end="")
    print()

*
* *
* * *
* * * *