In [4]:
#Smoking Deaths Among Doctors
#https://vincentarelbundock.github.io/Rdatasets/csv/boot/breslow.csv
import pandas as pd
data=pd.read_csv(r'C:\Users\Prasad\Downloads\breslow.csv')
data.head()

   Unnamed: 0  age  smoke      n   y  ns
0           1   40      0  18790   2   0
1           2   50      0  10673  12   0
2           3   60      0   5710  28   0
3           4   70      0   2585  28   0
4           5   80      0   1462  31   0

In [6]:
x=data.iloc[:,0:5]
y=data.iloc[:,5:6]
print(x)
print(y)

   Unnamed: 0  age  smoke      n    y
0           1   40      0  18790    2
1           2   50      0  10673   12
2           3   60      0   5710   28
3           4   70      0   2585   28
4           5   80      0   1462   31
5           6   40      1  52407   32
6           7   50      1  43248  104
7           8   60      1  28612  206
8           9   70      1  12663  186
9          10   80      1   5317  102
      ns
0      0
1      0
2      0
3      0
4      0
5  52407
6  43248
7  28612
8  12663
9   5317

In [7]:
data["ns"].unique()

array([    0, 52407, 43248, 28612, 12663,  5317], dtype=int64)

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8,test_size=0.2,random_state=110)
print(x_train)
print(y_train)
print(x_test)
print(y_test)

   Unnamed: 0  age  smoke      n    y
8           9   70      1  12663  186
4           5   80      0   1462   31
9          10   80      1   5317  102
1           2   50      0  10673   12
7           8   60      1  28612  206
5           6   40      1  52407   32
3           4   70      0   2585   28
0           1   40      0  18790    2
      ns
8  12663
4      0
9   5317
1      0
7  28612
5  52407
3      0
0      0
   Unnamed: 0  age  smoke      n    y
6           7   50      1  43248  104
2           3   60      0   5710   28
      ns
6  43248
2      0

In [14]:
#Delay in AIDS Reporting in England and Wales
#https://vincentarelbundock.github.io/Rdatasets/csv/boot/aids.csv
import pandas as pd
data=pd.read_csv(r'C:\Users\Prasad\Downloads\aids.csv')
data.head()

   Unnamed: 0  year  quarter  delay  dud  time  y
0           1  1983        3      0    0     1  2
1           2  1983        3      2    0     1  6
2           3  1983        3      5    0     1  0
3           4  1983        3      8    0     1  1
4           5  1983        3     11    0     1  1

In [15]:
x=data.iloc[:,0:6]
y=data.iloc[:,6:7]
print(x)
print(y)

     Unnamed: 0  year  quarter  delay  dud  time
0             1  1983        3      0    0     1
1             2  1983        3      2    0     1
2             3  1983        3      5    0     1
3             4  1983        3      8    0     1
4             5  1983        3     11    0     1
..          ...   ...      ...    ...  ...   ...
565         566  1992        4     29    1    38
566         567  1992        4     32    1    38
567         568  1992        4     35    1    38
568         569  1992        4     38    1    38
569         570  1992        4     41    1    38

[570 rows x 6 columns]
     y
0    2
1    6
2    0
3    1
4    1
..  ..
565  0
566  0
567  0
568  0
569  0

[570 rows x 1 columns]

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.75,test_size=0.25,random_state=110)
print(x_train)
print(y_train)
print(x_test)
print(y_test)

     Unnamed: 0  year  quarter  delay  dud  time
500         501  1991        4     14    1    34
471         472  1991        2     17    0    32
335         336  1989        1     14    0    23
374         375  1989        3     41    1    25
78           79  1984        4      8    0     6
..          ...   ...      ...    ...  ...   ...
431         432  1990        3     32    1    29
381         382  1989        4     17    0    26
271         272  1988        1      2    0    19
61           62  1984        3      2    0     5
128         129  1985        3     23    0     9

[427 rows x 6 columns]
      y
500   1
471  10
335  19
374   0
78    5
..   ..
431   0
381   6
271  80
61   17
128   7

[427 rows x 1 columns]
     Unnamed: 0  year  quarter  delay  dud  time
549         550  1992        3     26    1    37
546         547  1992        3     17    1    37
299         300  1988        2     41    0    20
27           28  1983        4     35    0     2
58           59  1984        2     38    0     4
..          ...   ...      ...    ...  ...   ...
57           58  1984        2     35    0     4
191         192  1986        3     32    0    13
11           12  1983        3     32    0     1
92           93  1985        1      5    0     7
459         460  1991        1     26    1    31

[143 rows x 6 columns]
     y
549  0
546  0
299  3
27   0
58   0
..  ..
57   0
191  0
11   0
92   4
459  0

[143 rows x 1 columns]

In [9]:

#Remission Times for Acute Myelogenous Leukaemia
#https://vincentarelbundock.github.io/Rdatasets/csv/boot/aml.csv
import pandas as pd
data=pd.read_csv(r'C:\Users\Prasad\Downloads\aml.csv')
data.head()

   Unnamed: 0  time  cens  group
0           1     9     1      1
1           2    13     1      1
2           3    13     0      1
3           4    18     1      1
4           5    23     1      1

In [10]:
x=data.iloc[:,0:3]
y=data.iloc[:,3:4]
print(x)
print(y)

    Unnamed: 0  time  cens
0            1     9     1
1            2    13     1
2            3    13     0
3            4    18     1
4            5    23     1
5            6    28     0
6            7    31     1
7            8    34     1
8            9    45     0
9           10    48     1
10          11   161     0
11          12     5     1
12          13     5     1
13          14     8     1
14          15     8     1
15          16    12     1
16          17    16     0
17          18    23     1
18          19    27     1
19          20    30     1
20          21    33     1
21          22    43     1
22          23    45     1
    group
0       1
1       1
2       1
3       1
4       1
5       1
6       1
7       1
8       1
9       1
10      1
11      2
12      2
13      2
14      2
15      2
16      2
17      2
18      2
19      2
20      2
21      2
22      2

In [11]:
data["group"].unique()

array([1, 2], dtype=int64)